<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="com.carindrive.vo.CarVO" alias="car"/>
		<typeAlias type="com.carindrive.vo.MemberVO" alias="member"/>
		<typeAlias type="com.carindrive.vo.OrderVO" alias="order"/>
		<typeAlias type="com.carindrive.vo.PageVO" alias="page"/>
		<typeAlias type="com.carindrive.vo.QnaVO" alias="qna"/>
		<typeAlias type="com.carindrive.vo.RentalVO" alias="rental"/>
		<typeAlias type="com.carindrive.vo.ServiceVO" alias="service"/>
		<typeAlias type="com.carindrive.vo.SocialVO" alias="social"/>
	</typeAliases>
	
</configuration>