@charset "UTF-8";

.Badmin {
	margin: 40px 60px;
}
.Admin_menu {
	float: left;
	margin: 0px 70px 0px 30px;
	font-size: 1em;
}
.Admin_menu h2 {
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 50px;
	font-size: 42px;
	color: #1c2b37;
}
.Admin_menu img {
	border: 1px solid #ccc;
	border-radius: 200px;
	padding: 20px;
	width: 200px; height: 200px;
	margin-left: 20px;
}
.Admin_menu ul {
	list-style: none;
	margin: 20px 0px 0px 10px;
}
.Admin_menu a {
	text-decoration: none;
	color: #6b6b6b; display: block;
	height: 20px; width: 150px; padding: 30px 20px 20px 5px;
	font-size: 20px;
}
.Admin_menu a:hover {
	font-weight: bold;
	border-bottom: 1px solid #1c2b37;
	width: 120px;
}
/* 관리자페이지 (공지사항) */
#admin_show {
	width: 830px; height: 1200px;
	float: right;
	padding-left: 70px;
	margin-right: 100px;
	margin-bottom: 20px;
	border-left: 2px solid #ccc;
	color: #1c2b37;
}
#admin_show h1 {
	margin-top: 50px;
	padding-left: 20px;
	padding-bottom: 30px;
	font-size: 30px;
	border-bottom: 2px solid #ccc;
}
#Bag {
	padding-left: 20px;
}
#Bag h2 {
	font-size: 25px;
	color: #1c2b37;
}
#ag_t tr {
	height: 40px;
}
#ag_t th {
	padding: 0px 38px;
}
#ag_paging {
	margin-left: 320px;
	margin-top: 20px;
}
#ag_paging a {
	text-decoration: none;
	color: #1c2b37;
}
#ag_button {
	margin-bottom: 10px;
}
#plus {
	float:right;
	margin-right: 77px;
}
/* 관리자페이지(공지사항 글쓰기) */
#ag_button2 {
	margin-top: 20px;
	margin-left: 350px;
}
.select {
	width: 685px; height: 37px;
	font-weight: bold;
	text-align: center;
}
/* 관리자페이지(공지사항 글내용보기) */
#ag_t p {
	width: 640px; height: 15px;
	font-weight: bold;
	padding-left: 10px;
}
#ag_cont p {
	height: 700px;
}
#ag_button3 {
	margin-top: 20px;
	margin-left: 380px;
}
/* 관리자페이지(차량관리 목록) */
#ag_t2 tr {
	height: 40px;
}
#plus2 {
	float:right;
	margin-right: 5px;
}


/* 관리자페이지(차량 상세정보) */
#admin_show2 {
	width: 850px; height: 950px;
	float: right;
	padding-left: 70px;
	margin-right: 100px;
	margin-bottom: 20px;
	border-left: 2px solid #ccc;
	color: #1c2b37;
}
#admin_show2 h1 {
	margin-top: 50px;
	padding-left: 20px;
	padding-bottom: 30px;
	font-size: 30px;
	border-bottom: 2px solid #ccc;
}
#ag_t img {
	padding: 10px 20px;
}
/* 관리자페이지(차량환불) */
#ag_paging2 {
	margin-left: 380px;
	margin-top: 20px;
}
