#bigbox {
    width: 1300px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;  /* 왼쪽 마진을 자동으로 설정하여 가운데 정렬 */
    margin-right: auto; /* 오른쪽 마진을 자동으로 설정하여 가운데 정렬 */
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #aaa;
}


#bar {
    background-color: #555;
    color: white;
    font-size: 40px;
    text-align: center;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin-bottom: 15px;
}

#toggleHistory {
    margin-bottom: 20px;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

#toggleHistory:hover {
    background-color: #0056b3;
}

.box {
    display: flex;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 7px;
    padding: 10px;
    transition: background-color 0.3s;
}

.box:hover {
    background-color: #f8f8f8;
}

.img {/*이미지 파일의 박스 크기*/
    width: 500px;
    height: 250px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px 15px 10px 15px;
}

.img img {/*이미지 파일의 크기*/
    max-width: 100%;
    max-height: 100%;
}

.infobox h2 {
    color: #007bff;
    font-weight: bold;
    margin-bottom: 10px;
}

.infobox span {
    color: #555;
    font-weight: bold;
    text-align: right;
    
}

.hidden-refunded {
    display: none;
}

.infobox{
	width:700px;
	height:250px;
    margin-bottom: 10px 0px 10px 0px; /* 각 정보 블럭의 아래쪽에 간격을 추가 */
    padding: 10px; /* 정보 블럭 내부에 간격을 추가 */
    border: 1px solid #e0e0e0; /* 경계선 추가 */
    background-color: #f9f9f9; /* 배경색 추가 */
}

.infobox .info-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


h2 {
    margin-top: 0; /* h2 태그 상단 간격 제거 */
}

button {
    margin-right: 10px; /* 버튼 간의 간격 추가 */
}

/*예약내역이 존재하지 않을 때*/
.noRental {
    color: #007BFF;   /* 기본적인 링크 색상. 원하는 색상으로 변경 가능 */
    font-weight: bold;
    cursor: pointer;   /* 마우스를 올렸을 때 손가락 모양으로 바뀝니다 */
}

.noRental:hover {
    color: #0056b3;   /* 마우스를 올렸을 때의 링크 색상. 원하는 색상으로 변경 가능 */
}

.noRentalbox {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    margin: 30px 0px 30px 0px;
}

.noRentalbox img {
    flex-shrink: 0; /* 이미지 크기가 flexbox의 변화에 따라 줄어들지 않도록 설정 */
    margin-right: 20px;
}

.noRentalbox span {
 	color: gray;
 	font-size: 30px;
}



/*환불시 비밀번호 입력창*/
.modal {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
/*환불 버튼 꾸미기*/
.button button {
    border: 1px solid black;
    padding: 8px 8px;
    margin-right: 20px;
    background-color: #2b1d5a;
    color: white;
    font-size: 15px;
    font-weight: bold;
    display: inline-block; /* 인라인 블록 요소로 설정 */
    float: right; /* 오른쪽으로 이동 */
}

.button button:hover {
    background-color: #a22d1a; /* 마우스 오버시 배경색상 변경 */
}







