@charset "UTF-8";
body {
	background: white;
}
/* 상단메뉴 */
.mainmenu {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}
#menu01 {
	border: 1px solid black;
	width: 600px; height: 65px;
	font-size: 18px; font-weight: 900;
	color: white;
	background-color: #1c2b37;
}
#menu01 p {
	margin-left: 30px;
}
#menu02 {
	border: 1px solid black;
	width: 600px; height: 65px;
	font-size: 18px; font-weight: 900;
	color: white;
	background-color: #1c2b37;
}
#menu02 p {
	margin-left: 30px;
}

/* 중앙부 */
.tab_content {
	text-align: center;
}
.tab_content input[type="radio"] {
	display: none;
}
.tab_content input[type="radio"] + label {
	display: inline-block;
	border: 2px solid black;
	background: #1c2b37;
	padding: 20px 70px;
	color: white; font-size: 14px; cursor: pointer;
	border-radius: 10px 10px 0px 0px / 10px 10px 0px 0px;
}
.tab_content input[type="radio"]:checked + label {
	background: white;
	border-bottom: 2px solid white;
	color: #1c2b37;
	font-weight: bold;
}
.conbox {
	margin: 0 auto;
	width: 1190px; background: white;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	display: none;
}
.tab_content input[id="tab01"]:checked ~ .con1 { display: block; }
.tab_content input[id="tab02"]:checked ~ .con2 { display: block; }
.tab_content input[id="tab03"]:checked ~ .con3 { display: block; }
.tab_content input[id="tab04"]:checked ~ .con4 { display: block; }
.tab_content input[id="tab05"]:checked ~ .con5 { display: block; }
.tab_content input[id="tab06"]:checked ~ .con6 { display: block; }
/* 이미지 */
#imgC {
	margin: 5px;
	width: 350px; height: 150px;
}
#box01 {
	border: 1px solid lightgray;
	text-align: center;
	padding: 15px;
}
#box01 a {
	text-decoration: none;
	color: inherit;
}
#box01:hover {
	box-shadow: 0px 0px 20px 1px #1c2b37 inset;
}
#box01 b {
	font-size: 30px;
}
#box01 p {
	text-align: right;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 10px;
}
#box01 hr {
	width: 350px;
	color: lightgray;
}
#yes {
	border: 1px solid black;
	padding: 15px 130px;
	margin: 10px 0px;
	background-color: #1c2b37;
	color: white;
	font-size: 20px; font-weight: bolder;
}
#no {
	border: 1px solid black;
	padding: 15px 130px;
	margin: 10px 0px;
	background-color: #400000;
	color: white;
	font-size: 20px; font-weight: bolder;
}
/* 차량 정보 */
.carname {
	margin-left: 153px;
	margin-right: 153px;
}
.carname h1 {
	color: #1c2b37;
	font-weight: bold;
}
.carInfo {
	display: flex;
}
#carImg img {
	width: 900px; height: 400px;
}
#carInfo {
	margin-top: 5px;
	margin-left: 60px;
}
#carInfo h2 {
	font-size: 30px;
	color: #1c2b37;
	font-weight: bold;
}
#carInfo ul {
	list-style-type: square;
	color: #1c2b37;
	font-weight: bold;
	font-size: 20px;
}
#carInfo li {
	margin: 15px 0px;
}
#carInfo button {
	border: 1px solid #1c2b37;
	border-radius: 10px;
	width: 200px; height: 40px;
	background-color: white;
	margin-top: 22px;
	float: right;
	font-weight: bold;
	font-size: 15px;
	color: #1c2b37;
}
#carInfo button:hover {
	background-color: #1c2b37;
	color: white;
}

/* 차 예약 버튼 */
#carRent {
    display: flex;
    align-items: center; /* 버튼을 수직으로 중앙 정렬 */
}
#carRent input[type="submit"] {
    border: 1px solid #1c2b37;
    background-color: #1c2b37;
    padding: 15px 230px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    box-sizing: border-box;
    display: inline-block;
}
#carRent input[type="button"] {
	border: 1px solid #1c2b37;
    background-color: #1c2b37;
    padding: 15px 190px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    box-sizing: border-box;
    display: inline-block;
}
#carRent input:hover {
    background-color: #294052; 
}

/* 예약자 확인 및 예약일자 + 가격 */
#cp_intro h3 {
	color: #1c2b37;
}
#cp_intro p {
	font-size: 16px;
	color: #787878;
}
#cp_intro table {
	border: 1px solid #ccc;
	width: 500px; height: 50px;
	color: #787878;
}
#menu01_1 {
	border: 1px solid black;
	width: 450px; height: 65px;
	font-size: 18px; font-weight: 900;
	color: white;
	background-color: #1c2b37;
}
#menu01_1 p {
	margin-left: 18px;
}
#menu02_1 {
	border: 1px solid black;
	width: 450px; height: 65px;
	font-size: 18px; font-weight: 900;
	color: white;
	background-color: #1c2b37;
}
#menu02_1 p {
	margin-left: 18px;
}
#menu03_1 {
	border: 1px solid black;
	width: 300px; height: 65px;
	font-size: 18px; font-weight: 900;
	color: white;
	background-color: #1c2b37;
}
#menu03_1 p {
	margin-left: 18px;
}
