@charset "UTF-8";

body{
	padding-left: 120px;
}

.serBox {
	height: 800px;
}
/* 고객센터 메인 페이지 메뉴  */
#board_name{
	font-family: verdana, Geneva,sans-serif;
	font-size:50px;
}

#sub_menu{
		  width: 600px;
		  position: absolute; 
		  left: 50%; 
		  margin-left: -300px; 
		  
		  }

#sub_menu ul{
	display:flex;
	list-style:none; 
	font-family: verdana, Geneva,sans-serif;	
	font-size:13px; font-Weight:100;			
	color:#4e4a45;								
}

#sub_menu ul li{float:left;	margin:0px 5px;}


#sub_menu a{
	display: block; height:20px; padding: 10px;
	text-decoration: none; /*하이퍼링크 기본 밑줄선 제거*/
	color:#333;
}

#sub_menu a:hover{
	border-bottom: 2px solid #1c2b37;
} 	

#ment{maring:50px;}





/* 고객센터 메인페이지 공지사항 목록 보기 (5개)*/

.center_nlist{
	width :1200px;
	position: absolute; 
		  left: 50%;
		  margin-left: -600px; 
		   margin-top : 200px;
}
.center_nlist1{
	width :1200px;
	position: absolute; 
	left: 48%;
	margin-left: -660px; 
	margin-top : 100px;
}
.center_nlist1 h1 {
	margin-left: 120px;
}
#center_nlist2{
	width :1200px;
	position: absolute; 
		  left: 50%;
		  margin-left: -710px; 
		  margin-top : 100px;
}
#center_nlist2 h1 {
	margin-left: 120px;
}
#qna_but input[type="button"] {
	float: right;
	margin-top: -40px;
	padding: 5px 10px;
	margin-right: -110px;
	font-weight: bold;
	color: white;
	background-color: #1c2b37;
}

.center_nlist caption{
	text-align: left; text-indent: 5px; margin-bottom: 1%;
	font-weight: bold; font-size: 17px;
	
}

.center_nlist-table {
	display: table;	table-layout: fixed; width:1200px;
	border-top: 2px solid #49557d; 
}

.center_nlist-table th{
	border-bottom: 1px solid #e9e9e9; vertical-align:middle;}


.nlist-title{ width:70%;}
.nlist-date{ width:20%}
.nlist-id{ width:20%}
.nlist-type{ width: 10%}





/* 고객센터 메인페이지 하단 공지사항 전체 보기 버튼 */
.notice-all-btn{text-align: center; margin-top: 600px;}

.notice-all{
	width: 50px; padding:20px;
	margin-bottom:20px;
	font-weight: 100%; font-size:70%;
	text-align: center;	color: black;
	border-radius: 5px; border : 1px solid;
	transition: all 0.2s ;
    background-color: #f5f5f5;
}

.notice-all:hover{background:#1c2b37 ; color:white;}

/* 공지사항 내용보기 */
#gCont_wrap {
	margin-top: 120px;
}



/* 고객센터 메인페이지 바로가기 버튼  */
.shortcut{
	width: 1200px; 
	position: absolute; 
		  left: 50%; 
		  margin-left: -600px;
		  display: flex; 
		  margin-bottom: 30px;
	}

.shortcut a{text-decoration: none; color: inherit;}

.shortcut div{
	border-radius: 20px; border: 1px solid gray;
    width:10%; font-family: verdana, Geneva,sans-serif;
}

.shortcut div i{font-size:30px;	padding : 10% 5% 10% 80%;}

.shortcut div b{padding: 0 0 5% 5%;	font-size:20px;}

.shortcut div p{padding: 0 0 5% 5%;	font-size:10px;}

.shortcut1 {flex:1;} .shortcut1 p{font-weight: 100px;}
.shortcut2{flex:1; margin:0px 5%;}
.shortcut3{flex:1;}






/* 하단 페이지 컨트롤러 */
#page_control{
	text-align:center; margin-top: 50px;
	margin-left: 250px;
}

#page_control a{
	text-decoration:none; padding:2px 5px; margin:0px 5px; color:#1c2b37;
}

#page_control a:hover{
	text-decoration:underline; font-weight:bold; color:#1c2b37;
}


#ffff{
	margin-top: 550px;
}



/* 질문 검색바 */
.search {
	border-radius:7px; background-color: #49557d;
    position: relative; text-align: center;
    width: 1200px; height:100px;
    padding: 20px; 
    margin-top : 150px;
    margin-bottom: 50px;
    
		  left: 50%; 
		  margin-left: -600px; 

    
}

.input_box {
	width:55%; border-radius: 20px;
    border: 1px solid #bbb; margin-top:15px;
    margin-bottom:5px; padding: 15px 12px;
    text-indent: 5em; font-size: 100%;
}
.fa-search {position: absolute; left: 20%; top: 40%; margin: 0;}

.box {
	position: relative; text-align: center;
    width: auto; margin: auto; 
}

.search_word{
	text-align:center; list-style:none;
	font-size: 80%; text-indent: -5%;
}

.word1{display:inline-block; margin-right:20px;}
.word2{display:inline-block; margin-right:20px;}
.word3{display:inline-block; margin-right:20px;}
.word4{display:inline-block; margin-right:20px;}
.word5{display:inline-block; margin-right:20px;}
.word6{display:inline-block; margin-right:20px;}
.word7{display:inline-block; margin-right:20px;}
.word8{display:inline-block; margin-right:20px;}
.word9{display:inline-block; margin-right:20px;}

.word1 a{text-decoration: none; color:white;}
.word2 a{text-decoration: none; color:white;}
.word3 a{text-decoration: none; color:white;}
.word4 a{text-decoration: none; color:white;}
.word5 a{text-decoration: none; color:white;}
.word6 a{text-decoration: none; color:white;}
.word7 a{text-decoration: none; color:white;}
.word8 a{text-decoration: none; color:white;}
.word9 a{text-decoration: none; color:white;}

.word1 a:hover{font-weight: bold; color:#1c2b37;}
.word2 a:hover{font-weight: bold; color:#1c2b37;}
.word3 a:hover{font-weight: bold; color:#1c2b37;}
.word4 a:hover{font-weight: bold; color:#1c2b37;}
.word5 a:hover{font-weight: bold; color:#1c2b37;}
.word6 a:hover{font-weight: bold; color:#1c2b37;}
.word7 a:hover{font-weight: bold; color:#1c2b37;}
.word8 a:hover{font-weight: bold; color:#1c2b37;}
.word9 a:hover{font-weight: bold; color:#1c2b37;}








/* service qna 검색 키워드 바 부분*/
.accordion{max-width:1000px; box-sizing: border-box; margin:2rem auto;}
.accordion-item{
	background-color: #fff;
	color:#111;
	margin: 1rem 0;
	border-radius: 0.5rem;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.25);
}
.accordion-item-header{
	padding: 0.5rem 3rem 0.5rem 1rem;
	min-height: 3.5rem;
	line-height: 1.25rem;
	font-weight: bold;
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;
}
.accordion-item-header::after{
	content: "\002B";
	font-size: 2rem;
	position: absolute;
	right: 1rem;
}
.accordion-item-header.active::after{
	content:"\2212";
}
.accordion-item-body{
	display:none;
	padding: 1rem;
	line-height: 1.5rem;
	border-top: 1px solid #34395e;
}
.accordion-item-body-content{
	
}
.accordion-item-header.active + .accordion-item-body{
	display: block;
}





/* 1대1 문의 작성 페이지 */
main caption{
	text-align: left; text-indent: 5px; margin-bottom: 1%;
	font-weight: bold; font-size:36px;
}

main .write-table {
	display: table;	table-layout: fixed; width: 90%;
	border-top: 2px solid #1c2b37; margin-left:5%;
	margin-top: 120px;
}

main .write-table input[type=text],
main .write-table input[type=password],
main .write-table input[type=email],
main .write-table input[type=date],
main .write-table input[type=number],
main .write-table select{
	width:90%; height: 24px; vertical-align: middle;
	line-height: 24px; text-indent: 5px;
	border:1px solid #e9e9e9; border-radius: 5px; 
}

main .write-table input[type=text].width-auto,
main .write-table input[type=password].width-auto,
main .write-table input[type=number].width-auto,
main .write-table select.width-auto{width: auto;}

main .write-table input[type=text].width-half,
main .write-table input[type=password].width-half,
main .write-table input[type=email].width-half,
main .write-table input[type=date].width-half,
main .write-table select.width-half{width: 200px;}

main .write-table input[type=text].width-small,
main .write-table input[type=password].width-small,
main .write-table select.width-small{width: 50px;}

main .write-table input[type=text].width-small,
main .write-table input[type=password].width-small,
main .write-table select.width-auto{width: auto;}

main .write-table textarea,
main .write-table.textarea{
	padding: 5px; width:100%; min-height:400px; line-height: 24px; 
}

main .write-table.border-top-none{border-top:0px solid #fff;}

main .write-table tr, main .table .tr {display: table-row;	height: 30px;}

main .write-table tr.content, 
main .write-table .tr.serivce {
	display: table-row; height:auto;
	min-height: 200px; line-height: 1.5em; color: #393939;	
}

main .write-table tr.hover:hover{background: #d6f4c1;cursor:pointer;}

main .write-table td, main .write-table th {
	display: table-cell; text-align: center;
	border-bottom: 1px solid #e9e9e9; padding : 3px 0;
}

main .write-table td, main .write-table td{
	text-align: left; text-indent: 5px;
}

main .write-table th, main .write-table .th {background: #f5f5f5}

main .write-table th.w180, main .write-table td.w180, 
main .write-table .th.w180, main .write-table .td.w180{width: 180px;}

main .write-table tr.content td,
main .write-table .tr.content td{text-align: left; padding: 10px;}

/* td 태그 안에 있는 모든 img, label, input을 한번에 수직 가운데 정렬 하는 스타일 */
main .write-table td > img,
main .write-table td > label,
main .write-table td > input{vertical-align:middle;}


.write-menu{
	float: right;
	margin:20px 0px;
	margin-right: 80px;
}
.write-menu input[type="button"] {
	padding: 5px 15px;
	background-color: #1c2b37;
	color: white;
}
.write-menu input[type="submit"] {
	padding: 5px 15px;
	background-color: #1c2b37;
	color: white;
}



/* 공지 사항 목록 검색 */
#bFind_wrap {
	text-align: center;
	margin-right: 700px;
	margin-bottom: 20px;
}

/* 1대1문의 목록 페이지 */
.qna-table{
		table-layout: fixed; width:1200px;
	border-top: 2px solid #1c2b37; margin-left:115px;
}

.qna-table caption{
	text-align: left; text-indent: 5px; margin-bottom: 1%;
	font-weight: bold; font-size: 30px;
}
.qna-table tr, main .table .tr {display: table-row;	height: 30px;}
.qna-table th, main .qna-table .th {background: #f5f5f5}
.qna-table td, main .qna-table th {
	display: table-cell; text-align: center;
	border-bottom: 1px solid #e9e9e9; padding : 3px 0;
}



/* qpwdCheck */
.qpwdCheck{padding: 30px 0 30px 250px;}
.qpwdCheck input[type=submit]{margin : 10px 0 10px 500px;}

.qpwdCheck-table{
	display: table;	table-layout: fixed; width:800px;
	border-top: 2px solid #1c2b37; margin-left:115px;
	text-indent: 10px; 
	margin-top: 70px;
}
.qpwdCheck-table .main_title{
	text-align: left; text-indent: 5px; margin-bottom: 2%;
	font-weight: bold; font-size: 30px;
}
.qpwdCheck-table .ex{
	text-align: left; text-indent: 5px; margin-bottom: 1%;
	font-weight: bold; font-size: 16px;
}
.qpwdCheck-table tr{display: table-row;	height: 30px; }
.qpwdCheck-table th, .qpwdCheck-table .th {background: #f5f5f5; width:300px;}
.qpwdCheck-table td, .qpwdCheck-table th {
	display: table-cell; text-align: left;
	border-bottom: 1px solid #e9e9e9; padding : 3px 0;
}
.qpwdCheck-table input{
	width:470px; height: 24px; vertical-align: middle;
	line-height: 24px; text-indent: 10px;
	border:1px solid #e9e9e9; border-radius: 5px;
}


#bsDel_wrap table{margin-left:300px;}
#write-button{margin:15px 0 0 700px;}